@{
    ViewBag.Title = "SCC | Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sapphire Coffee Cafe
    330 S 21st St<br />
    Lincoln, NE 68510<br />
    <abbr title="Phone">P: 402-999-9999</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">classychess@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>