@{
    ViewBag.Title = "SCC | Home Page";
}

<div class="jumbotron" id="home-splash">
    <h1>Classy Chess</h1>
    <p class="lead">Welcome to our website! We are a group of players dedicated the wonderful game of Chess and passionate about coffee. Learn more about our leagues and suppoort local business and grab a cup of coffee!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chess Leagues</h2>
        <p>
            Come join our friendly community as we host our weekly chess leagues on the weekends. Held on Saturday and Sunday night at 6-8 PM. There are junior and senior brackets. 
            Record and view your results here. Seasonal knock out touraments are held for the top players!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Newsletter</h2>
        <p>Hosted and curated by our staff. Sign up for our monthly newsletter where we talk about tips and strategy on chess. There are also discussions on coffee, local news, and other topics. We also include articles contributed by readers like you!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>See some photos of the coffee shop and learn more about the stories behind our gallery. Get a tour of our little slice of America. Submit your own content to us to display!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>